<ion-header>
  <ion-toolbar>
    <ion-title>Detalhes Exame {{exame.nameExame}} </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-label> Chave: {{exame.key}} </ion-label>

  <ion-card *ngFor="let qst of questoes">
    <ion-card-header>
      <ion-card-subtitle>{{qst.categoria}}</ion-card-subtitle>
      <ion-card-title>{{qst.textoQst}}</ion-card-title>
    </ion-card-header>

    
    <ion-card-content *ngIf="qst.opcEscolha == 'unica' || qst.opcEscolha == 'multipla'">
      Resposta:
      <p  *ngFor="let alt of qst.alternativas">
        {{ alt.val }}
      </p>
    </ion-card-content>

    <ion-card-content *ngIf="qst.opcEscolha == 'texto'">
        Resposta:
        <p>
          {{ qst.textoLivre }}
        </p>
      </ion-card-content>

  </ion-card>

</ion-content>