<ion-tabs #tabs>
  <ion-tab-bar slot="bottom">

    <ion-tab-button tab="criar-questao">
      <ion-icon name="create"></ion-icon>
      <ion-label> Criar </ion-label>
    </ion-tab-button>

    <ion-tab-button tab="pesquisar-questao">
      <ion-icon name="search"></ion-icon>
      <ion-label> Pesquisar </ion-label>
    </ion-tab-button>

    <ion-tab-button tab="criar-exame">
      <ion-icon name="paper"></ion-icon>
      <ion-label> Exame </ion-label>
    </ion-tab-button>

  </ion-tab-bar>
</ion-tabs>