<ion-header>
  <ion-toolbar>
    <ion-title>Criar Questão</ion-title>
    <!-- <ion-button color="primary" (click)="logout()"> Log out </ion-button> -->
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <!-- TEXTO DA QUESTÃO -->
  <ion-item>
    <ion-label position="floating">Escreva o texto da questão:</ion-label>
    <ion-textarea [(ngModel)]="textoQuestao"></ion-textarea>
  </ion-item>

  <!-- CATEGORIA DA QUESTÃO -->
  <ion-item>
    <ion-label>Escolha a categoria:</ion-label>
    <ion-select [interfaceOptions]="customPopoverOptions" interface="popover" placeholder="---"
      (ionChange)="setDisciplina(disciplina.value)" #disciplina>
      <ion-select-option *ngFor="let item of disciplinas">{{ item }}</ion-select-option>
    </ion-select>
    <!-- <ion-select [interfaceOptions]="customPopoverOptions" interface="popover" placeholder="---"
      (blur)="validandoTecnologia(tecnologia.value)" (change)="validandoTecnologia(tecnologia.value)" #tecnologia>
      <ion-select-option *ngFor="let item of disciplinas">{{ item }}</ion-select-option>
    </ion-select> -->
  </ion-item>

  <!-- ESCOLHA DA RESPOSTA -->
  <ion-item>
    <ion-grid>

      <ion-row>
        <ion-label> Escolha a opção de resposta: </ion-label>
      </ion-row>

      <ion-row>
        <ion-segment (ionChange)="setOpcResposta(opcResposta.value)" #opcResposta>
          <ion-segment-button value="unica">
            <ion-label>Escolha Única</ion-label>
          </ion-segment-button>
          <ion-segment-button value="multipla">
            <ion-label>Escolha Múltipla</ion-label>
          </ion-segment-button>
          <ion-segment-button value="texto">
            <ion-label>Texto livre</ion-label>
          </ion-segment-button>
        </ion-segment>
      </ion-row>

    </ion-grid>
  </ion-item>

  <!-- TIPOS DA RESPOSTA -->
  <div *ngIf="opcRespostaEscolhida == 'unica'">
    <ion-list>
      <ion-radio-group (ionChange)="setRespAlternativa(respAlt.value)" #respAlt>
        <ion-list-header>

          <ion-grid>
            <ion-row>
              <ion-col>
                <ion-label position="floating">Digite as alternativas e selecione a correta:</ion-label>
                <ion-input type="text" [(ngModel)]="alternativa"> </ion-input>
              </ion-col>
              <ion-col size="3">
                <ion-button color="primary" (click)="addAlternativa()" shape="round"
                  [class.button-disabled]="disabledButton"> add </ion-button>
              </ion-col>
            </ion-row>
          </ion-grid>

        </ion-list-header>

        <ion-item>
          <ion-label>{{ formRadio[0].val }}</ion-label>
          <ion-radio value="0" checked></ion-radio>
        </ion-item>
        <ion-item>
          <ion-label>{{ formRadio[1].val }}</ion-label>
          <ion-radio value="1" checked></ion-radio>
        </ion-item>
        <ion-item>
          <ion-label>{{ formRadio[2].val }}</ion-label>
          <ion-radio value="2" checked></ion-radio>
        </ion-item>

      </ion-radio-group>
    </ion-list>
  </div>

  <div *ngIf="opcRespostaEscolhida == 'multipla'">

    <ion-grid>
      <ion-row>
        <ion-col>
          <ion-label position="floating">Digite as alternativas e selecione a(s) correta(s):</ion-label>
          <ion-input type="text" [(ngModel)]="altCheckbox"> </ion-input>
        </ion-col>
        <ion-col size="3">
          <ion-button color="primary" (click)="addCheckbox()" shape="round" [class.button-disabled]="disabledButton">
            add </ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>

    <ion-list>
      <ion-item *ngFor="let item of form">
        <ion-label>{{ item.val }}</ion-label>
        <ion-checkbox slot="end" [(ngModel)]="item.isChecked"></ion-checkbox>
      </ion-item>
    </ion-list>
  </div>

  <div *ngIf="opcRespostaEscolhida == 'texto'">
    <ion-item>
      <ion-label position="floating">Escreva o que seria uma resposta adequada:</ion-label>
      <ion-textarea [(ngModel)]="textoLivre"></ion-textarea>
    </ion-item>
  </div>

  <!-- NIVEL DE DIFICULDADE -->
  <ion-item>
    <ion-label>Nível de dificuldade:</ion-label>
    <ion-select [interfaceOptions]="customPopoverOptions" interface="popover" placeholder="---"
      (ionChange)="setNivel(nivel.value)" #nivel>
      <ion-select-option *ngFor="let item of niveis">{{ item }}</ion-select-option>
    </ion-select>
  </ion-item>

  <!-- ENVIAR QUESTÃO -->
  <ion-button color="primary" (click)="createQuestion()" fill="solid" expand="block"> Enviar questão </ion-button>



</ion-content>